################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/src/packages/Newtonsoft.Json.10.0.3
/src/ReadIFC/obj
/src/ReadIFC/bin/Debug
/src/ReadIFC/Form1Internal.cs
*.sln
*.dll
